* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande' !important;
}

body {
    background: white;
}

hr {
    margin: 10px 0;
}

body.alert {
    background: red;
}

.lift-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.lift-controls {
    background-color: #999;
    padding: 10px;
    width: 70px;
    height: fit-content;
    margin: 0;
}

.floor-keys,
.function-keys {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.floor-keys button,
.function-keys button {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.function-keys {}

/* SECTIONS */
.lift-section {
    width: 270px;
    height: 700px;
    padding: 15px;
    padding-bottom: 0;
    border: 1px solid;
    background-color: #eee;
}

.lift-blocks {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2px;
    position: relative;
}

.section-block {
    background: #999;
    height: 20%;
    width: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.passenger-box {
    background: skyblue;
    height: 20%;
    width: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    transition: all 4s ease;
    -webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -ms-transition: all 4s ease;
    -o-transition: all 4s ease;
    z-index: 999;
}

.doors {
    background: orange;
    width: 50%;
    height: 100%;
    border: 1px solid #777;
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
}

/* States */
.pressed {
    border: 2px solid red;
}

.ground {
    width: 100%;
    padding: 30px;
    background-color: #555;
}

.display {
    border: 1px solid;
    margin-bottom: 15px;
    padding: 1px 3px;
    text-align: center;
    background-color: rgba(255, 255, 0, 0.422);
}

.display span {
    color: red;
    font-weight: 500;
}


/* Responsive */

@media only screen and (max-width: 600px) {
    .lift-container {
        flex-direction: column;
    }

    .lift-controls {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 75%;
        order: 1;
    }

    .lift-section {
        width: 77%;
        height: 85vhvh;
        padding: 15px;
        padding-bottom: 0;
        border: 1px solid;
        background-color: #eee;
        order: 2;
    }

    .display {
        width: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-right: 5px;
    }
}